.home{
    /* position: relative; */
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 0rem 8rem;
    /* position: absolute;
    top: 90%; */
    margin-top: -3rem;
}
